.std_table {
	margin: 15px;
}

.std_table th, .std_table td {
	padding: 10px;
}

button {
	cursor: pointer;
	padding: 10px;
	border-radius: 5px;
	border: 0px;
	background-color: #fff;
	margin-left: 5px;
}

button:hover {
	opacity: 0.7;
}

.input_sort {
	text-align: center;
}
